@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #17181C;
    font-family: 'Inter', sans-serif;
}

.light-body {
    background: #E5FAFC;
    color: #17181C;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}